<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budds Site</title>
    <link rel="icon" href="../images/logo.svg" type="image/svg" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/run_strings.css" />
    <link rel="stylesheet" href="../styles/cards.css" />
    <script src="../scripts/script.js" defer></script>
  </head>
  <body>
    <header class="header">
      <section class="header__bookmarks">
        <button class="header__bookmarks-item">For Business</button>
        <button class="header__bookmarks-item">For Customers</button>
      </section>
      <section class="header__main">
        <picture class="header__main-logo">
          <a href="#">
            <img src="../images/logo.svg" alt="Buds Logo" />
          </a>
        </picture>

        <button class="header__main-btn custom-btn">Contact sales</button>
      </section>
    </header>
    <main class="main">
      <!--Intro-->
      <section class="main__intro">
        <div class="main__intro_container">
          <h1 class="main__intro_container-title">
            Everyone<br />is an Influencer
          </h1>
          <p class="main__intro_container-text">
            Budss is a payments as a service and WOM engine dedicated<br />
            to acquisition and retention of customers to your business.
          </p>
          <button class="main__intro_container-btn custom-btn">
            Contact sales
          </button>
        </div>
        <picture>
          <img src="../images/intro.svg" alt="Intro Image" />
        </picture>
      </section>
      <!--About-->
      <section class="main__about">
        <h1 class="main__about_title">About Budss</h1>
        <div class="main__about_container">
          <aside class="main__about_container-left">
            <h5 class="main__about_container-left_text">
              Payment as a service, powered seamlessly by our
              <span>network of shoppers</span>
            </h5>
            <picture>
              <img src="../images/aside_img.svg" alt="Aside Image" />
            </picture>
          </aside>
          <div class="main__about_container-right">
            <div class="main__about_container-right_card">
              <picture>
                <img src="../images/contactless.svg" alt="Contactless Image" />
              </picture>
              <h4>Contactless</h4>
              <p>
                Budss uses near field<br />communication (NFC) for<br />making
                contactless payments.
              </p>
            </div>
            <div class="main__about_container-right_card">
              <picture>
                <img
                  src="../images/increase.svg"
                  alt="Increased Buying Power Image"
                />
              </picture>
              <h4>Increased<br />Buying Power</h4>
              <p>Returning customers spend up<br />to 3X more.</p>
            </div>
            <div class="main__about_container-right_card">
              <picture>
                <img
                  src="../images/analytics.svg"
                  alt="Analytics & Insights Image"
                />
              </picture>
              <h4>Analytics<br />& Insights</h4>
              <p>
                Gain a holistic view into your<br />customers’ buying
                behavior<br />& purchasing patterns.
              </p>
            </div>
            <div class="main__about_container-right_card">
              <picture>
                <img src="../images/fraud.svg" alt="Fraud Protection Image" />
              </picture>
              <h4>Fraud<br />Protection</h4>
              <p>
                Budss handles all payments<br />with a fraud prevention<br />
                algorithm to flag high risk<br />purchases & a user set PIN
                code<br />
                to keep payment info secure.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!--How Works-->
      <section class="main__works">
        <picture class="main__works_screen">
          <img src="../images/iphone.svg" alt="Iphone Image" />
        </picture>

        <div class="main__works_strings">
          <!--First String-->
          <div class="main__works_string" style="color: #2fdbbc">
            <div class="main__works_string-items marquee">
              <div class="main__works_string-item">How Budss Works</div>
              <div class="main__works_string-item shadow">How Budss Works</div>
            </div>
            <div aria-hidden="true" class="main__works_string-items marquee">
              <div class="main__works_string-item">How Budss Works</div>
              <div class="main__works_string-item shadow">How Budss Works</div>
            </div>
          </div>
          <!--Second String-->
          <div class="main__works_string" style="color: #a64ced">
            <div class="main__works_string-items marquee reverse">
              <div class="main__works_string-item">How Budss Works</div>
              <div class="main__works_string-item shadow">How Budss Works</div>
            </div>
            <div
              aria-hidden="true"
              class="main__works_string-items marquee reverse"
            >
              <div class="main__works_string-item">How Budss Works</div>
              <div class="main__works_string-item shadow">How Budss Works</div>
            </div>
          </div>
          <!--Third String-->
          <div class="main__works_string" style="color: #ffaa4c">
            <div class="main__works_string-items marquee">
              <div class="main__works_string-item">How Budss Works</div>
              <div class="main__works_string-item shadow">How Budss Works</div>
            </div>
            <div aria-hidden="true" class="main__works_string-items marquee">
              <div class="main__works_string-item">How Budss Works</div>
              <div class="main__works_string-item shadow">How Budss Works</div>
            </div>
          </div>
        </div>
      </section>
      <!--Procents-->
      <section class="main__procents">
        <div class="main__procents_items">
          <div class="main__procents_items-item">
            <h1>15%</h1>
            <p>Increase<br />in Purchase Amount</p>
          </div>
          <div class="main__procents_items-item">
            <h1>30%</h1>
            <p>Growth<br />in Annual Sales</p>
          </div>
          <div class="main__procents_items-item">
            <h1>10%</h1>
            <p>Growth in New<br />Customers</p>
          </div>
        </div>
      </section>
      <!--Why-->
      <section class="main__why">
        <div class="main__why_container">
          <h1>Why Budss</h1>
          <h5>
            We Provide Advanced Payment Solutions<br />
            <span>To Grow Your Business</span>
          </h5>
        </div>
        <div class="main__why_cards">
          <div class="main__why_cards-item big_card">
            <picture>
              <img
                class="main__why_cards-item_img"
                src="../images/card_one.svg"
                alt="Card One Image"
              />
            </picture>
            <div class="main__why_cards-item_text">
              <h4>Turn your customers into loyal influencers</h4>
              <p>
                Budss helps businesses harness the exponential power of loyal
                customers for acquisition and retention.
              </p>
            </div>
          </div>
          <div
            class="main__why_cards-item small_card"
            style="padding-right: 90px"
          >
            <picture>
              <img
                class="main__why_cards-item_green"
                src="../images/green_bag.svg"
                alt="Green Bag Image"
              />
            </picture>
            <picture>
              <img
                class="main__why_cards-item_yellow"
                src="../images/yellow_bag.svg"
                alt="Yellow Bag Image"
              />
            </picture>
            <picture>
              <img
                class="main__why_cards-item_purple"
                src="../images/purple_bag.svg"
                alt="Purple Bag Image"
              />
            </picture>
            <div class="main__why_cards-item_text">
              <h4>Harness the power of buying in bulk</h4>
              <p>
                Get at least 2X more sales with Budss Buying Groups. Your
                customer base will grow exponentially as your customers add
                their friends & family to your personalized group.
              </p>
            </div>
          </div>
          <div class="main__why_cards-item small_card">
            <picture>
              <img
                class="main__why_cards-item_like"
                src="../images/card_three.svg"
                alt="Card Three Image"
              />
            </picture>
            <div
              class="main__why_cards-item_text"
              style="max-width: 440px; margin-left: 40px"
            >
              <h4>Supercharge Loyalty With Instant Cash Back</h4>
              <p style="max-width: 308px">
                Budss allows for shoppers to earn immediate cash back at their
                favorite stores.
              </p>
            </div>
          </div>
          <div
            class="main__why_cards-item big_card"
            style="flex-direction: row-reverse; gap: 38px"
          >
            <picture>
              <img
                class="main__why_cards-item_phone"
                src="../images/card_four.svg"
                alt="Card Four Image"
              />
            </picture>
            <div class="main__why_cards-item_text" style="max-width: 402px">
              <h4>Seasoned with AI and Gamification</h4>
              <p>
                AI programming creates a personalized customer journey, offering
                recommendations for their next purchase and optimizing rewards
                for after purchase.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!--Business Grow-->
      <section class="main__grow">
        <div class="main__grow_container">
          <h2 class="main__grow_title">Let Your Business Grow</h2>
          <button class="main__grow_btn custom-btn">Contact sales</button>
        </div>
      </section>
      <!--Brands-->
      <section class="main__brands">
        <div class="main__brands_container">
          <div class="main__brands_text">
            <h1>Your Brand Awareness Maters</h1>
            <p>
              Budss is a husle free solution to put your brand on any digital
              surface including Instagram, Facebook, Twitter and TikTok
            </p>
          </div>
          <div class="main__brands_icons">
            <picture>
              <img src="../images/facebook.svg" alt="Facebook Icon" />
            </picture>
            <picture style="margin-left: -130px">
              <img src="../images/instagram.svg" alt="Instagram Icon" />
            </picture>
            <picture style="margin-left: 130px">
              <img src="../images/twitter.svg" alt="Twitter Icon" />
            </picture>
            <picture>
              <img src="../images/tiktok.svg" alt="TikTok Icon" />
            </picture>
          </div>
        </div>
      </section>
      <!--Companies-->
      <section class="main__companies">
        <div class="main__companies_string">
          <div class="main__companies_string-items marquee">
            <div class="main__companies_string-item">
              <picture>
                <img src="../images/commerce.svg" alt="" />
              </picture>
            </div>
            <div class="main__companies_string-item">
              <picture>
                <img src="../images/shopify.svg" alt="" />
              </picture>
            </div>
            <div class="main__companies_string-item">
              <picture>
                <img src="../images/square.svg" alt="" />
              </picture>
            </div>
            <div class="main__companies_string-item">
              <picture>
                <img src="../images/squarespace.svg" alt="" />
              </picture>
            </div>
            <div class="main__companies_string-item">
              <picture>
                <img src="../images/clover.svg" alt="" />
              </picture>
            </div>
          </div>
          <div aria-hidden="true" class="main__companies_string-items marquee">
            <div class="main__companies_string-item">
              <picture>
                <img src="../images/commerce.svg" alt="" />
              </picture>
            </div>
            <div class="main__companies_string-item">
              <picture>
                <img src="../images/shopify.svg" alt="" />
              </picture>
            </div>
            <div class="main__companies_string-item">
              <picture>
                <img src="../images/square.svg" alt="" />
              </picture>
            </div>
            <div class="main__companies_string-item">
              <picture>
                <img src="../images/squarespace.svg" alt="" />
              </picture>
            </div>
            <div class="main__companies_string-item">
              <picture>
                <img src="../images/clover.svg" alt="" />
              </picture>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--Footer-->
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__nav">
          <a href="#">
            <picture>
              <img src="../images/logo.svg" alt="" />
            </picture>
          </a>
          <ul class="footer__nav-list">
            <li><a href="#">For Business</a></li>
            <li><a href="#">For Customers</a></li>
          </ul>
          <div class="footer__nav-btns">
            <button class="footer__nav-btn custom-btn">Contact sales</button>
            <div class="footer__nav-btns_stores">
              <a href="#">
                <picture>
                  <img src="../images/appstore.svg" alt="" />
                </picture>
              </a>
              <a href="#">
                <picture>
                  <img src="../images/googleplay.svg" alt="" />
                </picture>
              </a>
            </div>
          </div>
        </div>

        <div class="footer__links">
          <p>© Copyright 2023, All Rights Reserved by Budss</p>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms Of Use - Seller</a></li>
            <li><a href="#">Terms of Use - Sellers & Customers</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
